

  <!-- Content Wrapper. Contains page content -->
  <div id="subpage-content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-12 text-center">
            <h1 class="m-0"> Selamat Datang di Site Administrasi SMP-SMA FAJAR ILAHI SEI BEDUK</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          
        <!---->
           <!--AGENDA JANUARI-->
        <!---->
          
        <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <!-- /.widget-user-image -->
              <h4 class="text-dark text-bold">Agenda Bulan Juli</h4>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <li class="nav-item">
                    <a href="#" class="nav-link text-dark">
                      15 Juli : Awal KBM 2024-2025<span class="float-right badge bg-success"><i class="far fa-check-circle"></i></span>
                    </a>
                  </li>
                  <a href="#" class="nav-link text-dark">
                    15 - 19 Juli : MPSL SMP & SMA <span class="float-right badge bg-success"><i class="far fa-check-circle"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    27 Juli : Pertemuan Wali Murid<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    Pendaftaran SPAN PTKIN Sekolah<span class="float-right badge bg-success"><i class="far fa-check-circle"></i></span>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

      <!---->
         <!-- AGENDA FEBRUARI -->
      <!---->
        
         <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <h4 class="text-dark text-bold">Agenda Bulan Agustus</h4>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    3, 10, 24 Agustus : Pembinaan Guru Sabtu<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    17 Agustus : Hari Kemerdekaan RI<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    <!-- Pendaftaran SPAN PTKIN Siswa<span class="float-right badge bg-success"><i class="far fa-check-circle"></i></span> -->
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    ANBK Jenjang SMA<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

      <!---->
         <!-- AGENDA MARET> -->
      <!---->
        
         <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <h4 class="text-dark text-bold">Agenda Bulan September</h4>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    7, 14, 21, 28 : Pembinaan Guru Sabtu<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    2-30 September : Supervisi 1<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    2-30 September : Pemaparan RAPBS TP 2025/2026 <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    19-27 September : UPTS Ganjil di Hari Efektif<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    24 September : HUT Prov Kepri<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    16 September : Libur Nasional<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        
      <!--     Close        -->
        
      <!---->
         <!-- AGENDA APRIL> -->
      <!---->
        
         <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <!-- /.widget-user-image -->
              <h4 class="text-dark text-bold">Agenda Bulan Oktober</h4>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    12, 19, 16 Oktober : Pembinaan Guru Sabtu <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    1-31 Oktober : Pemaparan RAPBS TP 2025/2026 <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    5 Oktober : Penerimaan Rapor UPTS Ganil <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

      <!---->
         <!-- AGENDA MEI> -->
      <!---->
        
         <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <!-- /.widget-user-image -->
              <h4 class="text-dark text-bold">Agenda Bulan November</h4>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    2, 9, 16, 23 November: Pembinaan Guru Sabtu<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    1-27 November : SUPERVISI II SMP & SMA <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    25 November : HUT PGRI & hari Guru<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

      <!---->
         <!-- AGENDA JUNI> -->
      <!---->
        
         <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <!-- /.widget-user-image -->
              <h4 class="text-dark text-bold">Agenda Bulan Desember</h4>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    7, 14 Desember : Pembinaan Guru Sabtu<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    4 Desember : Hari Tenang<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    5-13/21 : UPAS Ganjil : Pembagian Rapor UPAS <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    16-17/ 18-20 : PAWA / Pengolahan Nilai <span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    18 Desember : HUT Kota Batam<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    23-31 Desember : Libur Semester Ganil<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark">
                    25 Desember : Hari Libur Nasional<span class="float-right badge bg-info"><i class="far fa-clock"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        
      <!--     Close        -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->