  <!-- Navbar -->
  <nav id="subpage-navbar" class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="index.html" class="navbar-brand">
        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-bold text-danger">AppSchool FI SB</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
              
          <!--  -->
          <!-- RUTINITAS WALI KELAS -->
          <!--  -->

          <!-- Left navbar links -->
          <li class="nav-item dropdown nav-pills ">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link text-bold bg-warning"><i>RUTINITAS WALI KELAS</i></a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              
              <!-- Wali Kelas Ikhwan -->
              
              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Daftar Hadir Ikhwan</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="https://docs.google.com/spreadsheets/d/19ATrSbdRltzyEBQWSRckfpQz9ejPep9E/edit?usp=drive_link&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">7 Al Qasim</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/197X049OKDBBjSAbGF2oDbTehSeeVukSe/edit?usp=drive_link&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">8 Abdullah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/19BsCKnqwOOkJEVb3gZKUzcPbK2Z7Emlw/edit?usp=drive_link&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">9 Ibrahim</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1SvZnvO7lF3-wJeG8yxP6-wWu_bja-6OK/edit?usp=drive_link&ouid=107155866659073401981&rtpof=true&sd=true" class="p-3" target="_blank">11 Tsabit</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1SpGC5Pjz1UTBUA6OnO56H5WSo4UrRV-S/edit?usp=drive_link&ouid=107155866659073401981&rtpof=true&sd=true" class="p-3" target="_blank">12 Haritshah</a></li>
                  <li class="dropdown-divider"></li>
                </ul>
              </li>
              <!-- End Level two -->

            <li class="dropdown-divider"></li>

              <!-- Wali Kelas Akhwat -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">DaftarHadir Akhwat</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="https://docs.google.com/spreadsheets/d/19EcgpLsfLe-zys5DA7MUIWB1MZ9T0ywh/edit?usp=drive_link&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">7 Juwairiyah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/19Gip0l4AlqcF9vVYz453SUs2EzZRCSFH/edit?usp=drive_link&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">8 Maimunnah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/19H_yEAd2DX23-T9d1Wp7WBIhNw-C6QsY/edit?usp=drive_link&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">9 Ummu Habibah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1Svk0y46HP1sqcFiFEchFQSy6aZ7-6bdg/edit?usp=drive_link&ouid=107155866659073401981&rtpof=true&sd=true" class="p-3" target="_blank">10 Khaulah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1T2oNlGOKrQpXPINZ3D_l-xtS9nl9p8i0/edit?usp=drive_link&ouid=107155866659073401981&rtpof=true&sd=true" class="p-3" target="_blank">11 Syifa</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1Sszmk9AQPOEJ28tA-CswXkoNLQFxXlAd/edit?usp=drive_link&ouid=107155866659073401981&rtpof=true&sd=true" class="p-3" target="_blank">12 Zainab</a></li>
                  <li class="dropdown-divider"></li>
                </ul>
              </li>
              
              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --Resume Nilai- -->
              <!--  -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Resume Nilai</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow pl-4">
                  <li><a href="https://drive.google.com/drive/folders/1XO3BpU6d-AnNOSdniKzIdLeBEqbsupqH?usp=drive_link" target="_blank">Resume Nilai SMP</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://drive.google.com/drive/folders/1rP8vdGEDgKwbXjvJOYFVd5eIFG0vHIkN?usp=drive_link" target="_blank">Resume Nilai SMA</a></li>
                </ul>
              </li>
              
              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --LEGER MID dan SEMESTER- -->
              <!--  -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggl">Leger Mid & Semester</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow pl-4">
                  <li><a href="https://drive.google.com/drive/folders/1dQlclEt1YufgCOrpClSQaN4FnPHzcSZc?usp=sharing" target="_blank">Leger SMP</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://drive.google.com/drive/folders/1u48RVJoXm8W2wTKNkWrIrQ6nOn-SelXt?usp=sharing" target="_blank">Leger SMA</a></li>
                </ul>
              </li>

              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --KAJIAN WALI MURID-- -->
              <!--  -->

              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" class="dropdown-item ">Kajian Wali Murid</a>
              </li>


              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --FORM IZIN SAKIT SISWA- -->
              <!--  -->

              <li class="dropdown-submenu dropdown-hover pl-3">
                <a href="/2024_2025/jenguk.html" role="button" target="_blank">Form Jenguk Siswa</a>
              </li>
            </ul>
          </li>

          <!--  -->
          <!-- RUTINITAS GURU BIDANG -->
          <!--  -->

          <!-- Left navbar links -->
          <li class="nav-item dropdown pl-2 nav-pills">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link text-bold bg-success"><i>RUTINITAS GURU BIDANG</i></a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              
              <!-- Gubid Ikhwan -->
              
              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Daftar Hadir Ikhwan</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="https://docs.google.com/spreadsheets/d/1CO47Ms8nFUxX2dVUa1IJHDObZ2fUX9Ga/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Ardiyan Parades</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1CrgTplV_bC3ef9TZV8DZHUNBF8oqQ3t8/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Fernanda Dafittra</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1CqU4Dk4xuwdRdb9-xxg075fXTKoGAnJs/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Hamdan</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1ChcqoFmMMb5IJ8n-3Axjfr7PRSZC3nSZ/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Husneidy</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1Cfb8gSERtwE89mRLvephamH2FmBD8jgi/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Muhammad Iqbal</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1CfVL1qzvP2KmAIkQX3-UH64MnyGVzu29/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Riki Maulana</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1CeDINeR3Vtj-ZvqfZVmBOPLc8kzrl4J7/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Yuzarzikri</a></li>
                  <li class="dropdown-divider"></li>
                </ul>
              </li>
              <!-- End Level two -->

            <li class="dropdown-divider"></li>

              <!-- Gubid Ikhwan -->
              
              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Nilai Bulanan Ikhwan</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">Ardiyan Parades</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Fernanda Dafittra</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Hamdan</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Husneidy</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Muhammad Iqbal</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Riki Maulana</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Yuzarzikri</a></li>
                  <li class="dropdown-divider"></li>
                </ul>
              </li>
              <!-- End Level two -->
              
            <li class="dropdown-divider"></li>

              <!-- Gubid Akhwat -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Daftar Hadir Akhwat</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="https://docs.google.com/spreadsheets/d/1CwRyE54HjiwkEL1IGT4W_0Iiykzv2or2/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Ayu Hidayah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1DnLRm33PRDV3o-X97MjP4cznT79J9d03/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Evi Oktoviani</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1DOSahqnfkh4rCJGsdOnJRJ4G7efg-r9A/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Fahma Ilmi</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1DMaPMrwkKBHCSf6Cfo2ymFnyvkcMEBtM/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Latifah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1g6H1sCb4eDOsoAEhYc3Kr2RDoVjxWSwh/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Mutiara</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1DDaOkqyCp9x-bcg5i2jA1g9sQ1BKj6Pk/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Nur'ain</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1DCUUcEC9UKdqlpVOOOLLwbK9Ad_QKSaF/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank" >Rafa Nabilah</a></li>
                  <li class="dropdown-divider"></li>
                </ul>
              </li>
              <!-- End Level two -->

            <li class="dropdown-divider"></li>

              <!-- Gubid Akhwat -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Nilai Bulanan Akhwat</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">Ayu Hidayah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Evi Oktoviani</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Fahma Ilmi</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Latifah</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Mutiara</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Nur'ain</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="#" class="dropdown-item">Rafa Nabilah</a></li>
                  <li class="dropdown-divider"></li>
                </ul>
              </li>
              <!-- End Level two -->

            <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --Resume Nilai- -->
              <!--  -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Soal & Analisis Harian</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow pl-4">
                  <li><a href="https://drive.google.com/drive/folders/19iXW_jANMheRLlUk-ojkg5ek2n7-8z3Z?usp=sharing" target="_blank">Soal & Analisis SMP</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://drive.google.com/drive/folders/1T3UWPdhQv4H-3NmAbz8T0PcJ5t_BVGTU?usp=sharing" target="_blank">Soal & Analisis SMA</a></li>
                </ul>

                <li class="dropdown-divider"></li>
              </li>
            </ul>
          </li>


          <!--  -->
          <!-- ADMINISTRASI SEKOLAH -->
          <!--  -->

          <!-- Left navbar links -->
          <li class="nav-item dropdown pl-2 nav-pills">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link text-bold bg-primary"><i>ADMINISTRASI SEKOLAH</i></a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              
              <!--  -->
              <!-- --ADM PER MAPEL Nilai- -->
              <!--  -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Administrasi PerMapel</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow pl-4">
                  <li><a href="https://drive.google.com/drive/folders/1D2PDq36YAj7QrwhBq9aNsmWZVlkpcMi1?usp=sharing" target="_blank">ADM PER MAPEL SMP</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://drive.google.com/drive/folders/1WsUVHN2BTzUnyu7cO3YltNFNC1wYsOmf?usp=drive_link" target="_blank">ADM PER MAPEL SMA</a></li>
                </ul>
              </li>

            <li class="dropdown-divider"></li>

              <!-- Data Siswa -->
              
              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Data Siswa</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="https://docs.google.com/spreadsheets/d/1VAKV-oUf7MWYqnzcD9fTRBi317aajQkd/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" class="p-3" target="_blank">Siswa SMP</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/1KAyjk7Mf5qCY4S54q4LiJ1MPSB-RUacn/edit?usp=sharing&ouid=107155866659073401981&rtpof=true&sd=true" class="p-3" target="_blank">Siswa SMA</a></li>
                </ul>
              </li>
              <!-- End Level two -->
            
              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --KAJIAN WALI MURID-- -->
              <!--  -->

              <li class="dropdown-submenu dropdown-hover pl-3">
                <a href="https://drive.google.com/drive/folders/1hraLAsqUv8g1ribzSCTHZ86lcVoa1TSD?usp=sharing" role="button" target="_blank">Akreditasi Madinah</a>
              </li>

              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --FORM JENGUK SAKIT SISWA- -->
              <!--  -->

              <li class="dropdown-submenu dropdown-hover pl-3">
                <a href="/2024_2025/jenguk.html" role="button" target="_blank">Form Jenguk Siswa</a>
              </li>
              
              <li class="dropdown-divider"></li>

              <!--  -->
              <!-- --FORM IZIN KELUAR PEGAWAI- -->
              <!--  -->
              
              <li class="dropdown-submenu dropdown-hover pl-3">
                <a href="/2024_2025/izin.html" role="button" target="_blank">Form Izin Keluar Pegawai</a>
              </li>
              
              <li class="dropdown-divider"></li>
              <!--  -->
              <!-- --INFAQ JUM'AT- -->
              <!--  -->

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover pl-3">
                <a id="dropdownSubMenu2 pl-3" href="https://docs.google.com/spreadsheets/d/1FuID2TuSfLqvxNMD380Xi1PeSIB_74A9/edit?usp=sharing&ouid=104020301651712743001&rtpof=true&sd=true" target="_blank">INFAQ JUM'AT</a>
              </li>
            </ul>
          </li>
            </ul>
          </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-envelope"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            
            <a href="https://smpsmafisb.github.io/rutinitas.html" class="dropdown-item dropdown-footer">Surat Masuk</a>
            
            <div class="dropdown-divider"></div>
            
            <a href="https://smpsmafisb.github.io/rutinitas.html" class="dropdown-item dropdown-footer">Surat Keluar</a>
            
            <div class="dropdown-divider"></div>
            
            <a href="https://drive.google.com/drive/folders/14VGXPINLUwPSUtlg8BtT6QdWHPegtETu?usp=sharing" target="_blank" class="dropdown-item dropdown-footer">Folder Surat</a>
          </div>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->