 <!-- Main Sidebar Container -->
  <aside id="subpage-sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index.html" class="brand-link">
      <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-5" style="opacity: .8">
      <span class="brand-text font-weight-bold text-warning">AppSchool FI SB</span>
      
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="https://smpsmafisb.github.io/" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="rutinitas.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Rutinitas</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="administrasi.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Administrasi</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="https://drive.google.com/drive/folders/16uonPaaaaa2DYUc-CjZlUl67BDrdrk1D?usp=sharing" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Rapat</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="https://drive.google.com/drive/folders/1eA-YVji4mDwe7NvnjQQxN_g6YzH8eB4X?usp=sharing" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Assesmen</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="https://drive.google.com/drive/folders/1qgBhsT0PcqJKN0DfS5-04Dlu8CnBzfx_?usp=drive_link" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Kegiatan</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="https://drive.google.com/drive/folders/11M_8mVXADsPBNOabFXN4GkTjE6S2ioqV?usp=sharing" class="nav-link" target="_blank">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Jadwal</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a href="adm_tendik.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Tabbed Adm Tendik</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="izin.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Form Perizinan PTK</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="jenguk.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Form Jenguk Siswa</p>
            </a>
          </li>
          
           <li class="nav-item">
            <a href="lain.html" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Data Lainnya</p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>